<nav class="vh-100 d-flex flex-column justify-content-between">
<div>
<h1 >
    <a href="index.html">ANSWER</a>
</h1>
<ul >
    <li class="mb-4 pl32">
        <p ><a href="#"><span class="material-symbols-outlined pe-3">
            insert_chart
            </span>Dashboard</a></p>
    </li>
    <li class="mb-4 pl32">
        <p ><a href="#"><span class="material-symbols-outlined pe-3">
            forum
            </span>Question</a></p>
    </li>
    <li class="mb-4 pl32">
        <p ><a href="assignment.html"><span class="material-symbols-outlined pe-3">
            assignment
            </span>Assignment</a></p>
    </li>
    <li class="mb-4 pl32">
        <p ><a href="#"><span class="material-symbols-outlined pe-3">
            video_library
            </span>Course</a></p>
    </li>
    <li class="mb-4 pl32">
        <p ><a href="admin.html"><span class="material-symbols-outlined pe-3">
            group
            </span>Admin</a></p>
    </li>
    <li class="mb-4 pl32">
        <p ><a href="#"><span class="material-symbols-outlined pe-3">
            settings
            </span>Settings</a></p>
    </li>
</ul>
</div>
<div class="user d-flex align-items-center">
    <img src="../assets/images/andychen.jpeg" alt="user-img" class="rounded-circle me-3 user-img">
    <div>
        <p class="fw-bold mb-1">Andy Chen</p>
        <p class="fz14 gray-600 mb-0">andy0401@mail.com</p>
    </div>
</div>
</nav>